.box
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 50px;

}

.title {
  display: inline;
}
.form-fiz {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin-bottom: 40px;

}
.form-input {
  padding: 10px ;
  background-color: #80808022;
  border: 1px solid #8080808f;
  border-radius: 10px;
}
.btn {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #f7b424;
  border: none;
  border-radius: 10px;
}
.result {
  padding: 20px 40px;
  background-color: #11cb8d;
  border:1px solid #000;
  border-radius: 10px;
}

